<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.engin.test" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FbMessenger</name>
    <description>This is aplugin for FbMessenger</description>
    <js-module name="FbMessenger" src="www/FbMessenger.js">
        <clobbers target="cordova.plugins.FbMessenger" />
    </js-module>
        <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FbMessenger" >
                <param name="android-package" value="org.engin.test.fbmessenger.FbMessenger"/>
            </feature>
        </config-file>
    <config-file target="AndroidManifest.xml" parent="/*/application/activity">
      <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.facebook.orca.category.PLATFORM_THREAD_20150314" />
      </intent-filter>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*/application">
      <meta-data android:name="com.facebook.sdk.ApplicationId"  android:value="@string/facebook_app_id" />
    </config-file>
    <config-file target="res/values/strings.xml" parent="/*/resources">
      <string name="facebook_app_id">$FB_ID</string>
    </config-file>
    
        <lib-file src="src/android/lib/android-support-v4.jar" arch="device" />
        <lib-file src="src/android/lib/bolts-android-1.1.4.jar" arch="device" />
        <lib-file src="src/android/lib/facebook-debug.jar" arch="device" />
        <source-file src="src/android/FbMessenger.java" target-dir="src/org/engin/test/fbmessenger" />
    </platform>
</plugin>
